.title{
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-style: oblique;
  font-weight: 700;
  letter-spacing: 0.5px;
  word-spacing: 1.6px;
}

.card{
    width: 650px;
    margin: 20px;
    left: 270px;
    @if(nb_place > 0 && nb_place < 40){
           background-color: orange;
         } @else if(nb_place > 40 && nb_place < 100){
          background-color: orange;
          } @else if(nb_place > 100){
           background-color: yellow;
          }
}
.card p{
font-size: 15px;
padding-left: 17px;
font-weight: bold;

}
.card p span{
 font-size: 20px;
  font-style: normal;
  font-weight: normal;
}
